/* Modern, more gentle CSS Reset */

/* Box-Sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin on most block-level elements */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* Basic table reset */
table {
  border-collapse: collapse;
  border-spacing: 0;
}