.responsive-image{
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
}
.border-radius{
  border-radius: var(--border-radius);
}
.style-global-content {
  // Listen wieder einrücken
  :deep(ul),
  :deep(ol) {
    margin-left: 20px !important;
    padding-left: 20px !important;
  }

  // Bullet-Style wirklich auf die list-items setzen
  :deep(ul li),
  :deep(ol li) {
    list-style-type: circle !important; // oder disc, wie du magst
  }

  :deep(strong),
  :deep(b) {
    font-weight: bold !important;
  }
}
